.client-agreement__wrap {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: rgba(117, 238, 217, 0.1);

  .client-agreement__container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 8rem;

    h2 {
      font-family: 'Bahianita';
      font-style: normal;
      font-weight: normal;
      font-size: 3.25rem;
      line-height: 3.875rem;
      padding: 1rem 0;
    }

    .client-agreement__content-text {
      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 300;
      font-size: 1.25rem;
      line-height: 1.7rem;
      text-align: justify;
    }
  }
}
