.new-password {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(117, 238, 217, 0.1);
  
  .new-password__wrapper {
    height: calc(100% - 12rem);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .new-password__form {

      display: flex;
      flex-direction: column;
      width: 32rem;
      gap: 2rem;
  
      label {
        font-size: 1.3rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
  
        input {
          border: 1px solid black;
          padding: 0.5rem;
          font-size: 1.2rem;
          height: 1.7rem;
          outline: none;
        }
      }

      .new-password__wrong-validation {
        color: red;
        align-self: center;
      }
      .new-password__rule {
        font-size: 0.8rem;
        color: rgb(92, 92, 92);
        align-self: center;
      }
    }
  }
}